DEBUG=False
SECRET_KEY=CAMBIA_ESTA_CLAVE_LARGA_Y_SEGURA

ALLOWED_HOSTS=tu-dominio.com,www.tu-dominio.com
CSRF_TRUSTED_ORIGINS=https://tu-dominio.com,https://www.tu-dominio.com

DB_NAME=horus_turnos
DB_USER=horus_turnos_user
DB_PASSWORD=CAMBIA_ESTE_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432

WHATSAPP_ACCESS_TOKEN=PEGA_TOKEN_DE_META
WHATSAPP_PHONE_NUMBER_ID=1160006670527232
WHATSAPP_BUSINESS_ACCOUNT_ID=2256671141571023
WHATSAPP_VERIFY_TOKEN=CAMBIA_VERIFY_TOKEN_SEGURO
WHATSAPP_GRAPH_API_VERSION=v20.0
WHATSAPP_REQUEST_TIMEOUT=15

OPENAI_API_KEY=PEGA_API_KEY_OPENAI
OPENAI_MODEL=gpt-5.2
BOT_USA_OPENAI=True

LANGUAGE_CODE=es-ec
TIME_ZONE=America/Guayaquil
